<div class="side-bar">
  <div
    class="side-bar-content"
    *ngIf="$openState | async"
    [@inOutAnimationMenu]
  >
    <div class="side-bar-content-wrapper">
      <button
        mat-flat-button
        color="primary"
        class="close-button"
        (click)="closeMenu()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <menu class="menu" (click)="closeMenu()">
        <li>
          <button mat-flat-button color="primary" routerLink="/">Home</button>
        </li>
        <li>
          <button mat-flat-button color="primary" routerLink="/portfolio">
            Portfolio
          </button>
        </li>
        <li>
          <button mat-flat-button color="primary" routerLink="/blog">
            Blog
          </button>
        </li>
        <li>
          <button mat-flat-button color="primary" routerLink="/projects">
            Projects
          </button>
        </li>
        <li>
          <button mat-flat-button color="primary" routerLink="/contacts">
            Contacts
          </button>
        </li>
        <li *ngIf="$showUsersOption | async">
          <button mat-flat-button color="primary" routerLink="/users">
            Users
          </button>
        </li>
        <li>
          <div id="donate-button-container">
            <div id="donate-button"></div>
            <script
              src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js"
              charset="UTF-8"
            ></script>
            <script>
              PayPal.Donation.Button({
                env: "production",
                hosted_button_id: "8BY3AZ4P22C8L",
                image: {
                  src: "https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif",
                  alt: "Donate with PayPal button",
                  title: "PayPal - The safer, easier way to pay online!",
                },
              }).render("#donate-button");
            </script>
          </div>
        </li>
      </menu>

      <div class="bottom-part">
        <div class="theme">
          <mat-icon matPrefix class="moon">brightness_2</mat-icon>
          <mat-slide-toggle> </mat-slide-toggle>
          <mat-icon matSuffix class="sun">wb_sunny</mat-icon>
        </div>
        <div>
          <button
            mat-raised-button
            color="accent"
            routerLink="/login"
            *ngIf="($authState | async) === false"
            (click)="closeMenu()"
          >
            Login
          </button>
          <button
            mat-raised-button
            color="accent"
            (click)="logout()"
            *ngIf="$authState | async"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="side-bar-screen"
    (click)="closeMenu()"
    *ngIf="$openState | async"
    [@inOutAnimationOpacity]
  ></div>
</div>
