<div class="comment" *ngIf="_comment">
  <span>{{ _comment.date.toDate() | date }}</span>
  <app-text-editor [content]="_comment.body"></app-text-editor>
  <div class="actions">
    <button class="like" mat-button (click)="this.addLike()">
      <mat-icon
        color="warn"
        matBadge="{{ _comment.likes ?? 0 }}"
        matBadgeOverlap="true"
        matBadgeColor="warn"
        matBadgeSize="small"
        matBadgePosition="before"
        >favorite_border</mat-icon
      >
      <span>Love</span>
    </button>
    <button class="share" mat-button>
      <mat-icon color="accent">share</mat-icon>
      <span>Share</span>
    </button>
    <button
      class="reply"
      mat-button
      (click)="showReplyTextEditor = !showReplyTextEditor"
    >
      <mat-icon color="accent">reply</mat-icon>
      <span>Reply</span>
    </button>
    <button class="edit" mat-button *ngIf="$isCurrentUser | async">
      <mat-icon color="accent">edit</mat-icon>
      <span>Edit</span>
    </button>
    <button
      class="delete"
      mat-button
      *ngIf="($isAdmin | async) || ($isCurrentUser | async)"
      (click)="deleteComment()"
    >
      <mat-icon color="accent">delete</mat-icon>
      <span>Delete</span>
    </button>
  </div>
  <app-add-comment *ngIf="showReplyTextEditor"></app-add-comment>
  <div class="comments">
    <app-comment
      *ngFor="let comment of _comment.comments; let i = index"
      [comment]="comment"
      (commentChanged)="commentChange(comment, i)"
    ></app-comment>
  </div>
</div>
