<form class="project" [formGroup]="projectForm" (submit)="save()">
  <mat-form-field class="example-chip-list" appearance="standard">
    <mat-label>Project categories</mat-label>
    <mat-chip-list
      #chipList
      aria-label="Video keywords"
      multiple
      formControlName="categories"
    >
      <mat-chip
        *ngFor="let keyword of keywords"
        [selected]="keyword"
        [value]="keyword"
        (removed)="removeKeyword(keyword)"
      >
        {{ keyword }}
      </mat-chip>
      <input
        placeholder="New keyword..."
        [matChipInputFor]="chipList"
        (matChipInputTokenEnd)="addKeywordFromInput($event)"
      />
    </mat-chip-list>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <input matInput formControlName="title" type="text" />
  </mat-form-field>
  <mat-form-field appearance="standard">
    <textarea matInput formControlName="smallDescription"></textarea>
  </mat-form-field>
  <app-upload-image
    [(imageUrl)]="imageUrl"
    (fileChange)="newImage = $event"
  ></app-upload-image>
  <quill-editor [modules]="config" formControlName="description"></quill-editor>
  <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">
    <mat-icon>save</mat-icon> {{ editMode ? "Save" : "Create" }}
  </button>
  <mat-progress-spinner
    *ngIf="isLoading"
    mode="determinate"
    [value]="loadingPercentage"
  ></mat-progress-spinner>
</form>
