<div class="home-projects">
  <div class="description">
    <h1>Check out my projects</h1>
    <h3>
      You can check all of my projects here including this website. <br />
      Some of them are open source and you can contribute to those on github.
    </h3>
  </div>

  <div class="projects-wrapper">
    <app-project
      *ngFor="let project of $projects | async"
      [project]="project"
      matRipple
    ></app-project>
    <div class="all-projects" matRipple [routerLink]="['projects']">
      <h3 class="text">
        See all projects <mat-icon>arrow_right_alt</mat-icon>
      </h3>
    </div>
  </div>
</div>
