@import '../../../colors.scss';

.image-wrapper {
    width: 100%;
    height: 100%;
    transition: 0.1s ease;

    .image {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 20px;

    }

    &.on-drag {
        transform: scale(1.05);
        cursor: copy;
    }
}


input {
    display: none;
}