.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
    margin-bottom: 5vh;

    .social-media-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        app-social-media {
            width: 100px;
            height: 100px;
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        width: calc(100% - 40vw);

        button {
            width: 125px;
            align-self: end;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}