<div class="contacts">
  <h3>Follow me on social media</h3>
  <div class="social-media-wrapper">
    <app-social-media
      [name]="'Twitter'"
      [image]="'assets/images/social-media/twitter-icon.png'"
      [url]="'https://twitter.com/RochaDaRicardo'"
    ></app-social-media>

    <app-social-media
      [name]="'Github'"
      [image]="'assets/images/social-media/github-icon.png'"
      [url]="'https://github.com/RicardoGomesRocha'"
    ></app-social-media>

    <app-social-media
      [name]="'Stackoverflow'"
      [image]="'assets/images/social-media/stackoverflow-icon.png'"
      [url]="
        'https://stackoverflow.com/users/5148197/ricardo-rocha?tab=profile'
      "
    ></app-social-media>

    <app-social-media
      [name]="'Linkedin'"
      [image]="'assets/images/social-media/linkedin-icon.png'"
      [url]="'https://www.linkedin.com/in/ricardogomesrocha/'"
    ></app-social-media>

    <app-social-media
      [name]="'Medium'"
      [image]="'assets/images/social-media/medium-icon.png'"
      [url]="'https://medium.com/@Ricardo.da.Rocha'"
    ></app-social-media>
  </div>
</div>
