.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;

    .social-media-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        app-social-media {
            width: 100px;
            height: 100px;
        }
    }
}