@import '../../colors.scss';

.photo-wrapper {
    position: relative;

    img {
        border-radius: 100%;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
    }

    .photo-background-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .photo-background {
        background-color: darken($primary-color, 15%);
        border-radius: 100%;
        width: 100%;
        height: 100%;

    }

    .dinosaur {
        border-radius: 0;

        @keyframes dinosaurAnimation {
            0% {
                top: 6%;
            }

            10% {
                top: 6%;
            }

            12% {
                top: -25%;
            }

            20% {
                top: -25%;
                transform: rotateY(0deg);
            }

            21% {
                top: -25%;
                transform: rotateY(180deg);
            }

            23% {
                top: -25%;
                transform: rotateY(180deg);
            }

            24% {
                transform: rotateY(0deg);
                top: -25%;
            }

            30% {
                top: -25%;
            }

            33% {
                top: 6%;
            }

            45% {
                top: 6%;
            }

            50% {
                top: -25%
            }

            52% {
                top: -25%;
                transform: rotateY(0deg);
            }

            53% {
                top: -25%;
                transform: rotateY(180deg);
            }

            54% {
                transform: rotateY(0deg);
                top: -25%;
            }

            60% {
                transform: rotateY(0deg);
                top: -25%;
            }

            61% {
                top: -25%;
                transform: rotateY(0deg);
            }

            62% {
                top: -25%;
                transform: rotateY(180deg);
            }

            63% {
                transform: rotateY(0deg);
                top: -25%;
            }

            75% {
                top: -25%
            }

            78% {
                top: -50%
            }

            85% {
                top: -50%
            }

            88% {
                top: 6%;
            }

            100% {
                top: 6%;
            }
        }

        animation: dinosaurAnimation 15s infinite;
        top: -0vw;
        position: absolute;
        width: 10vw;

    }
}