.project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5vw;

    .background-image {
        width: 100%;
        height: 20vh;
        background-size: cover;
        border-radius: 20px;

    }
}