<div class="project" *ngIf="project">
  <h1 class="title">{{ project.title }}</h1>
  <div class="dates">
    <h5>
      <span>Created on: {{ project.createdOn.toDate() | date }}</span>
      <span class="separator" *ngIf="project.modifiedDate">|</span>
      <span *ngIf="project.modifiedDate"
        >Modify on: {{ project?.modifiedDate?.toDate() | date }}</span
      >
    </h5>
  </div>
  <app-categories
    *ngIf="project.categories"
    [categories]="project.categories"
    [mode]="'view'"
  ></app-categories>

  <h3 class="small-description">{{ project.smallDescription }}</h3>

  <div
    class="background-image"
    [style.backgroundImage]="'url(' + project.image + ')'"
  ></div>
  <div class="small-bar">
    <button
      mat-mini-fab
      color="warn"
      aria-label="Example icon button with a menu icon"
      [matBadge]="project.likes"
      matBadgePosition="before"
      matBadgeColor="warn"
      (click)="addLike()"
    >
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="accent"
      aria-label="Example icon button with a menu icon"
      (click)="openShareMenu()"
    >
      <mat-icon>share</mat-icon>
    </button>
    <button mat-mini-fab color="primary" [routerLink]="['edit']">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <app-text-editor [content]="project.description"></app-text-editor>
</div>
