<div class="header">
  <h3>Some title that makes sense</h3>
  <div class="image"></div>
</div>
<div class="body">
  <h5>
    This is some big description; This is some big description; This is some big
    description; This is some big description; This is some big description;This
    is some big description; This is some big description;
  </h5>
</div>
<div class="date">
  <h5>24 Jun 1993</h5>
</div>
<div class="footer">
  <button mat-button color="primary">
    Check out full post <mat-icon>arrow_right_alt</mat-icon>
  </button>
</div>
