.projects {
    margin: 5vw;

    .description {
        text-align: center;
    }

    .projects-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        app-project {
            margin: 20px
        }
    }
}