<div class="login-wrapper">
  <button (click)="login(AuthProviders.Google)" mat-button>
    Login with google
  </button>
  <button (click)="login(AuthProviders.Facebook)" mat-button>
    Login with facebook
  </button>
  <button (click)="login(AuthProviders.Github)" mat-button>
    Login with github
  </button>
  <button (click)="login(AuthProviders.Twitter)" mat-button>
    Login with twitter
  </button>
  <button (click)="login(AuthProviders.Microsoft)" mat-button>
    Login with microsoft
  </button>
  <div class="email-password"></div>
</div>
