<div class="login">
  <div class="login-inner">
    <h1 class="title">
      Login with social media accounts or using the traditional email/password
      form
    </h1>
    <div class="login-wrapper">
      <div class="social-media">
        <button class="google" (click)="login(AuthProviders.Google)" mat-button>
          <app-google-icon class="icon"></app-google-icon>
          <span>Login with google</span>
        </button>
        <button
          class="facebook"
          (click)="login(AuthProviders.Facebook)"
          mat-button
        >
          <app-facebook-icon class="icon"></app-facebook-icon>
          <span>Login with facebook</span>
        </button>
        <button class="github" (click)="login(AuthProviders.Github)" mat-button>
          <app-github-icon class="icon"></app-github-icon>
          <span>Login with github</span>
        </button>
        <button
          class="twitter"
          (click)="login(AuthProviders.Twitter)"
          mat-button
        >
          <app-twitter-icon class="icon"></app-twitter-icon>
          <span>Login with twitter</span>
        </button>
        <button
          class="microsoft"
          (click)="login(AuthProviders.Microsoft)"
          mat-button
        >
          <app-microsoft-icon class="icon"></app-microsoft-icon>
          <span>Login with microsoft</span>
        </button>
      </div>
      <div class="division"></div>
      <form
        class="email-password"
        [formGroup]="loginForm"
        (ngSubmit)="loginWithEmailPassword()"
      >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" />
        </mat-form-field>
        <button mat-raised-button color="primary">Login</button>
      </form>
    </div>
  </div>
</div>
