@import '../../colors.scss';

.intro {
    background-color: $primary-color;

    .photo-wrapper {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        flex-direction: column;

        @keyframes photo-background-animation {
            0% {
                transform: scale(0.5);
                opacity: 0.3;
            }

            100% {
                transform: scale(1);
                opacity: 1;
            }
        }

        animation: photo-background-animation 0.5s;
        z-index: 2;

        app-search {
            margin-top: 7vh;
        }
    }

    .background-wrapper {
        width: 100vw;
        height: 100vh;
        position: relative;

        overflow-x: hidden;
        overflow-y: hidden;

        z-index: 1;

        .background-image {
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-image: url('../../assets/images/triangles-background.jpg');
            background-position: center;
            background-size: cover;


            filter: blur(4px) contrast(100%) hue-rotate(0);

            @keyframes background-animation {
                0% {
                    filter: blur(4px) contrast(100%) hue-rotate(0);
                }

                25% {
                    filter: blur(7px) contrast(200%) hue-rotate(-10deg);
                }

                50% {
                    filter: blur(4px) contrast(75%) hue-rotate(0deg);
                }

                75% {
                    filter: blur(17px) contrast(150%) hue-rotate(10deg);
                }

                0% {
                    filter: blur(4px) contrast(100%) hue-rotate(0deg);
                }
            }


            animation: background-animation 45s infinite;
        }


    }

    .portfolio-text {
        color: white;
        font-size: 2.5vw;
    }
}