<div class="menu-wrapper" [class.is-home]="isHomePage">
  <button mat-flat-button color="primary" routerLink="/">Home</button>
  <app-photo
    [photoSize]="'30px'"
    [dinosaurSize]="15"
    [dinosaurUnit]="'px'"
    [style.opacity]="opacity"
  ></app-photo>
  <menu class="menu">
    <li>
      <button mat-flat-button color="primary" routerLink="/portfolio">
        Portfolio
      </button>
    </li>
    <li>
      <button mat-flat-button color="primary" routerLink="/blog">Blog</button>
    </li>
    <li>
      <button mat-flat-button color="primary" routerLink="/projects">
        Projects
      </button>
    </li>
  </menu>
  <div class="background" [style.opacity]="opacity"></div>
</div>
