.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    margin: 0;
    width: calc(100% - 30px);
    left: 0;
    padding: 0;
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;


    button {
        background-color: transparent !important;
    }

    z-index: 3;

    .background {
        background-image: url('../../assets/images/triangles-background.jpg');
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 70px;
        z-index: -1;
        opacity: 1;
        animation: opacity 4s ease-in-out;
        box-shadow: -11px -24px 46px 6px #000000;
    }

    &.is-home {
        .background {
            opacity: 0;
        }
    }

    .search {
        height: 100%;
        display: flex;
        align-items: center;
    }
}