<mat-form-field
  class="example-chip-list"
  appearance="standard"
  *ngIf="mode === 'edit'"
>
  <mat-label>{{ title }}</mat-label>
  <mat-chip-list #chipList multiple>
    <mat-chip
      *ngFor="let category of _categories"
      [selected]="category.id"
      [value]="category.text"
      (removed)="removeCategory(category.id)"
    >
      {{ category.text }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="Search or add new {{ title }}"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      (matChipInputTokenEnd)="addCategoryFromInput($event)"
      (keyup)="filter($event)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option
      *ngFor="let category of $filterCategories | async"
      [value]="category"
    >
      {{ category.text }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-chip-list #chipList multiple *ngIf="mode === 'view'">
  <mat-chip
    *ngFor="let category of _categories"
    [selected]="category.id"
    [value]="category.text"
    (removed)="removeCategory(category.id)"
  >
    {{ category.text }}
  </mat-chip>
</mat-chip-list>
