@import '../colors.scss';

.intro {
    background-color: $primary-color;

    .menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        margin: 0;
        width: 100%;
        left: 0;
        padding: 0;

        menu {
            display: flex;
            align-items: center;

            li {
                list-style-type: none;
            }
        }

        z-index: 3;
    }


    .photo-wrapper {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;

        img {
            border-radius: 100%;
            width: 20vw;
            z-index: 1;
            min-width: 30px;
            min-height: 30px;
        }

        .photo-background-wrapper {
            position: absolute;

            .photo-background {
                margin-top: 10px;
                margin-left: 10px;
                background-color: darken($primary-color, 15%);
                border-radius: 100%;
                width: 100%;
                height: 100%;

            }
        }

        .dinosaur {
            @keyframes dinosaurAnimation {
                0% {
                    top: -0vw;
                }

                10% {
                    top: -0vw;
                }

                12% {
                    top: -4vw;
                }

                20% {
                    top: -4vw;
                    transform: rotateY(0deg);
                }

                21% {
                    top: -4vw;
                    transform: rotateY(180deg);
                }

                23% {
                    top: -4vw;
                    transform: rotateY(180deg);
                }

                24% {
                    transform: rotateY(0deg);
                    top: -4vw;
                }

                30% {
                    top: -4vw;
                }

                33% {
                    top: -0vw;
                }

                45% {
                    top: -0vw
                }

                50% {
                    top: -4vw
                }

                52% {
                    top: -4vw;
                    transform: rotateY(0deg);
                }

                53% {
                    top: -4vw;
                    transform: rotateY(180deg);
                }

                54% {
                    transform: rotateY(0deg);
                    top: -4vw;
                }

                60% {
                    transform: rotateY(0deg);
                    top: -4vw;
                }

                61% {
                    top: -4vw;
                    transform: rotateY(0deg);
                }

                62% {
                    top: -4vw;
                    transform: rotateY(180deg);
                }

                63% {
                    transform: rotateY(0deg);
                    top: -4vw;
                }

                75% {
                    top: -4vw
                }

                78% {
                    top: -8vw
                }

                85% {
                    top: -8vw
                }

                88% {
                    top: -0vw
                }

                100% {
                    top: -0vw
                }
            }

            animation: dinosaurAnimation 15s infinite;
            top: -0vw;
            left: 5.5vw;
            position: absolute;
            width: 10vw;
        }

        z-index: 2;
    }

    .background-image {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        color: $primary-darker-color;
        font-size: 5vw;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: hidden;

        div {
            margin: 10px;
            display: flex;
            transition: opacity 1.5s ease-in-out;
            opacity: 0;
            max-width: 30px;
            max-height: 30px;
            text-shadow: 1px 1px darken($primary-darker-color, 15%);
            ;

            &.visible {
                opacity: 0.15;
            }


        }
    }
}