@import '../colors.scss';

.intro {
    background-color: $primary-color;

    .menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        margin: 0;
        width: 100%;
        left: 0;
        padding: 0;

        menu {
            display: flex;
            align-items: center;

            li {
                list-style-type: none;
            }
        }
    }


    .photo-wrapper {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;


        img {
            border-radius: 100%;
            width: 30vw;
            box-shadow: 10px 6px 0px 0px darken($primary-color, 15%);
        }
    }

    .background-image {
        width: 100vw;
        height: 100vh;
    }
}