<div class="intro">
  <div class="menu-wrapper">
    <button mat-button>Home</button>
    <menu class="menu">
      <li><button mat-button>Portfolio</button></li>
      <li><button mat-button>Contact Me</button></li>
    </menu>
  </div>

  <div
    class="photo-wrapper"
    id="photoWrapper"
    [style.height]="photoWrapperSize"
  >
    <img src="./assets/ricardo-photo.jpg" [style.width]="photoSize" />
  </div>
  <div class="background-image"></div>
</div>

<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>

<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>

<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
