<div class="intro">
  <div
    class="photo-wrapper"
    id="photoWrapper"
    [style.height]="photoWrapperSize"
  >
    <img src="./assets/ricardo-photo.jpg" [style.width]="photoSize" />
    <div
      class="photo-background-wrapper"
      [style.width]="photoSize"
      [style.height]="photoSize"
      [style.transform]="getTransformAngle()"
    >
      <div class="photo-background"></div>
    </div>
  </div>
  <div class="background-image"></div>
  <div class="menu-wrapper">
    <button mat-flat-button color="primary">Home</button>
    <menu class="menu">
      <li><button mat-flat-button color="primary">Portfolio</button></li>
      <li><button mat-flat-button color="primary">Contact Me</button></li>
    </menu>
  </div>
</div>

<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>

<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>

<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
