<div class="project-wrapper" *ngIf="project">
  <h2>{{ project?.title }}</h2>
  <h4>{{ project?.smallDescription }}</h4>
  <button
    mat-raised-button
    color="primary"
    class="see-more"
    [routerLink]="['/projects', project.id]"
  >
    See more <mat-icon>arrow_right_alt</mat-icon>
  </button>
  <div
    class="background-image"
    [style.backgroundImage]="getBackgroundImage()"
  ></div>
  <button
    class="context-menu"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    [matMenuTriggerData]="project.id"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Delete Project</span>
  </button>
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edit Project</span>
  </button>
  <button mat-menu-item [routerLink]="['/project', 'create']">
    <mat-icon>add_circle_outline</mat-icon>
    <span>Add Project</span>
  </button>
</mat-menu>
