.blog-post {
    width: 25vw;
    margin: 2vw;
    min-width: 250px;

    .header {
        .title {
            display: flex;
            align-items: row;

            h3 {
                margin-bottom: 0px;
            }
        }


        .image {
            width: 100%;
            height: 30px;
        }

    }

    .body {
        text-align: justify;
    }

    .footer {
        display: flex;
        justify-content: end;
    }
}