.ql-picker {
    &.ql-size {

        .ql-picker-label,
        .ql-picker-item {
            &::before {
                content: attr(data-value) !important;
            }
        }
    }

    &.ql-font {

        ql-picker-label,
        .ql-picker-item {
            &::before {
                content: attr(data-value) !important;
                font-family: attr(data-value) !important;
            }
        }
    }
}

.ql-container {
    font-family: 'Roboto';
}

.ql-editor {
    padding: 0;
}