.ql-picker {
    &.ql-size {

        .ql-picker-label,
        .ql-picker-item {
            &::before {
                content: attr(data-value) !important;
            }
        }
    }
}

.ql-container {
    font-family: 'Montserrat';
}

.ql-editor {
    padding: 0;
}

.edit-mode {
    .ql-editor {
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 17px;
        padding-right: 20px;
    }
}