.message {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    padding-top: 30px;

    .close-button {
        position: absolute;
        top: -15px;
        right: 0;
        margin-right: -15px;
        padding: 0;
        min-width: 0;
        line-height: 0px;
    }

    .actions {
        align-self: flex-end;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
    }
}