.mat-option {
    height: auto !important;

    mat-option {
        height: 150px;
    }

}

.search-form {
    mat-form-field {
        width: 50vw;
        color: white !important;

        .mat-form-field-outline {
            color: white !important;
            background-color: #ffffff1c;
        }

        mat-label {
            color: white;
        }

        .mat-icon {
            font-size: 25px;
            margin-right: 5px;
        }
    }

}

.search-content {
    display: flex;
    align-items: center;

    .search-image {
        border-radius: 100%;
        margin-right: 15px;
    }

    .lines {
        .line {
            height: 20px;
        }
    }
}