.mat-option {
    height: auto !important;

    mat-option {
        height: 150px;
    }

}

.search-form {
    &.light-background {
        mat-form-field {
            color: white !important;

            .mat-form-field-outline {
                color: white !important;
            }

            mat-label {
                color: white;
            }
        }
    }

    mat-form-field {
        width: 50vw;

        .mat-form-field-outline {
            background-color: #ffffff1c;
        }

        .mat-icon {
            font-size: 25px;
            margin-right: 5px;
        }
    }

}

.search-content {
    display: flex;
    align-items: center;

    app-image {
        border-radius: 100%;
        margin-right: 15px;
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
    }

    .lines {
        .line {
            height: 20px;
        }
    }
}