.mat-option {
    height: auto !important;

    mat-option {
        height: 150px;
    }

}

.search-form {
    &.light-background {
        mat-form-field {
            color: white !important;

            .mat-form-field-outline {
                color: white !important;
            }

            mat-label {
                color: white;
            }
        }
    }

    mat-form-field {
        width: 50vw;

        .mat-form-field-outline {
            background-color: #ffffff1c;
        }

        .mat-icon {
            font-size: 25px;
            margin-right: 5px;
        }
    }

}

.search-content {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

    app-image {
        border-radius: 100%;
        margin-right: 15px;
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
    }

    .lines {
        width: 92%;

        .line {
            height: auto;
            line-height: 23px;

            &.title {
                margin-top: -6px;
            }

            &.type {
                font-size: 10px;
                font-weight: bolder;
            }

            &.text {
                font-size: 12px;
                font-style: italic;
            }

            &.categories {
                font-size: 10px;
                font-weight: bolder;
                margin-top: -6px;

                span {
                    padding: 2px;
                }
            }
        }
    }
}