<form class="search-form" [class.light-background]="lightBackground">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>
      {{ placeholder ? placeholder : "Search any thing you want" }}</mat-label
    >
    <input
      matInput
      aria-label="Search"
      [matAutocomplete]="auto"
      [formControl]="searchControl"
      (keyup)="search($event)"
    />
    <mat-icon matPrefix>search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let search of search$ | async"
        [value]="search.title"
        routerLink="{{ search.link }}"
      >
        <div class="search-content">
          <img
            class="search-image"
            aria-hidden
            [src]="search.image"
            height="25"
          />
          <div class="lines">
            <div class="line title">{{ search.title }}</div>
            <div class="line text" *ngFor="let text of search.text">
              {{ text }}
            </div>
            <div class="line categories">
              <span
                class="categories"
                *ngFor="let category of search.categories"
                >{{ category }}</span
              >
            </div>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
