<app-intro></app-intro>
<div class="portfolio-text">
  Any fool can write code that a computer can understand. Good programmers write
  code that humans can understand.” – Martin Fowler
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  <i class="ei ei-arrow_up"></i>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>

<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>

<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
<div>
  asdasdasdas <br />
  adsd <br />asd <br />ggg <br />ggggg <br />gggggg <br />gggggg <br />gggg
  <br />gggggg <br />ggg
</div>
